.carousel {
  position: relative;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  height: calc(1000px * 0.5625);
  @media (max-width: 1280px) {
    height: calc(650px * 0.5625);
  }
  @media (max-width: 768px) {
    height: calc(500px * 0.5625);
  }
  @media (max-width: 640px) {
    height: calc((100vw - 4rem) * 0.5625);
  }
  @media (max-width: 480px) {
    height: calc((100vw - 3rem) * 0.5625);
  }
}

.videoContainer {
  position: absolute;
  min-width: 1000px;
  backdrop-filter: blur(24px);
  border: 1px white solid;
  border-radius: 2rem;
  overflow: hidden;
  @media (max-width: 1280px) {
    min-width: 650px;
  }
  @media (max-width: 768px) {
    min-width: 500px;
    border-radius: 1.25rem;
  }
  @media (max-width: 640px) {
    min-width: 100%;
  }
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.wave {
  position: absolute;
  height: calc(1000px * 0.5625);
  width: 100%;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: 1280px) {
    height: calc(650px * 0.5625);
  }
  @media (max-width: 768px) {
    height: calc(500px * 0.5625);
  }
  @media (max-width: 640px) {
    height: calc(100% * 0.5625);
  }
}

.playButton {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  @media (max-width: 640px) {
    width: 3rem;
    height: 3rem;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }
}

.playCircle {
  transition: transform 0.35s ease;
  &:hover {
    transform: scale(0.9);
  }
}

.button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: red;
  padding: 0 8px;
  &:last-of-type {
    left: 60px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 33%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  left: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.75s;
  &[data-active="true"] {
    opacity: 1;
  }
}

.toggle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transform: translateX(0);
  @media (min-width: 640px) {
    bottom: 32px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
